<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>기본 화면</title>
</head>
<body>
<div>
    <form action="/signIn" method="get">
        <button> 회원 가입 </button>
    </form>
</div>
<div>
    <form action="/search" method="get">
        <button> 검색 하기 </button>
    </form>
</div>
<div>
    <form action="/signUp" method="get">
        <button> 로그인 하기 </button>
    </form>
</div>
<div>
    <form action="/list" method="get">
        <button> 등록된 게시물 보기 </button>
    </form>
</div>
<div>
    <form action="/form" method="get">
        <button> 게시물 등록하기 </button>
    </form>
</div>
</body>
</html>