<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 회원 가입 </title>
</head>
<body>
<div>
    <form action="/sign/create" method="post">
        <input type="text" name="member_name">
        <input type="password" name="passwd">
        <input type="text" name="mobile1">
        <input type="text" name="mobile2">
        <input type="text" name="email">
        <input type="text" name="email_domain">
        <button> 회원 가입 하기 </button>
    </form>
</div>
<div>
    <form action="/" method="get">
        <button> 뒤로 가기 </button>
    </form>
</div>
</body>
</html>